.container {
    width: 50vw;
    height: 100vh;
}

.header{
    position: fixed;
    top: 0;
    width: 50vw;
    height: 65px;
    color: white;
    background-color: #ff3131;
    justify-content: center; 
    align-items: center;   
    z-index: 10;
}

.inner-message{
    max-width: 350px;
    padding: 20px;
    background-color: #CCCCCC;
    border-radius: 24px;
}

.message-container{
    position: fixed;
    bottom: 65px;
    width: 46.7vw;
    padding: 0px 20px;
    height: calc(100vh - 150px);
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column-reverse; 
    justify-content: flex-start;
}


.outer-content{
    margin-left: 10px;
    margin-top: 5px;
}

.message-input{
    width: 46vw;
    display: flex;
    justify-content: center;
    margin: 0px 10px;
    position: fixed;
    bottom: 10px;
    padding: 15px;
    border-radius: 24px;
    border: 1px solid #CCCCCC;
}

.input{
    width: 41vw;
    outline: none;
}

.input[placeholder]:empty:before {
    content: attr(placeholder);
    color: #CCCCCC; 
}

.send-icon{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #ff3131;
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-items-left{
    align-items: flex-start;
}

.align-items-right{
    align-items: flex-end;
}
