<div class="container">
    <div class="header flex-col">
        <strong>aisha</strong>
        <div class="subtext">@aishapepino</div>
        <div  class="subtext">Online</div>
    </div>

    <div class="message-container flex-col">
        <div *ngFor="let message of messages" class="outer-message flex-col" [ngClass]="message.receipient != 'aisha'  ? 'align-items-left' : 'align-items-right' ">
            <strong class="margin-h-20">{{message.sender}}</strong>
            <div class="inner-message flex-col" [ngClass]="message.receipient != 'aisha'  ? 'received-bg' : 'sent-bg' ">
                {{message.content}}
            </div>   
            <div class="subtext margin-h-20">{{message.createdAt}}</div>         
        </div>  
    </div>

        <div class="message-input" >
            <div contenteditable="true" placeholder="Type a message..." class="input"></div>
            <div class="send-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="white"><path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z" /></svg>            
            </div>
        </div>
        
</div>