body{
    margin: 0;
    font-family: Arial;
}

ul{
    padding:0;
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.list-style-none {
    list-style-type: none;
}   

input{
    outline: none;
    width: 40vw;
}

.subtext{
    font-size: 14px;
    opacity: 40%;
}

.margin-h-20{
    margin: 5px 20px;
}

.bg-gray{
    background-color:  #CCCCCC;
}

.bg-red{
    background-color:  #FF3131;
}