<div class="container">
    <img src="ct.png" alt="logo" class="logo">
    <form action="" class="flex-col form">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Username">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm password">
        <br>
        <button type="submit" class="red-btn" [routerLink]="['/']">Sign up</button>
    </form>
    <br>
    <div class="subtext">Already have an account? 
        <button type="button" class="bt" [routerLink]="['/login']">
            <strong>Log in.</strong>
        </button>
    </div>
</div>
