.chat-list {
    overflow-y: scroll;
    height: 100vh;
    contain: content;
    margin-left: 35px;
}

.container{
    width: 47vw;
    height: 100vh;
    border-right: 1px solid #CCCCCC;
}

.container-search{
    border: 1px solid #CCCCCC;
    padding: 6px;
    border-radius: 24px;
    width: 90%;
    margin: 0 auto;
}

input{
    border: none;
}